body {
	padding: 0;
	margin: 0;
    background-color: #000000;
    overflow: hidden;
    text-align: center;
}

#p5_loading {
	font-size: 20pt;
	margin: 40px;
	color: #999999;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#p5_loading + #canvasContainer {
    display: none;
}

#canvasContainer {
    position: relative;
    display: inline-block;
    margin: auto;
}

.roundButton {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: #0044CC;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: table;
}
.roundButton:hover {
    background: #0055EE;
}
.roundButton span{
    display: table-cell;
    vertical-align: middle;
}

#musicToggle {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#gameToggle {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#nextLevel {
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 120px;
}

#options {
    position: absolute;
    width: 600px;
    
    
    left: 212px;
    bottom: 20px;
}
#options .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#options .row .option {
    width: 30%;
    flex: 1;
}